/*
  Золотое сечение (золотая пропорция, деление в крайнем и среднем отношении) — деление непрерывной величины на две части в таком отношении, при котором меньшая часть так относится к большей, как большая ко всей величине. Далее идет формула расчета в результате которой мы получаем коэффициенты 1,6180339887 отношение большей части к меньшей и наоборот меньшая часть к большей относится как 0,6180339887
*/

/*
  61,8%

  38,2%
  29,2%
  25,7%
  23,6%
*/

 /*
   Согласно результатам нашего исследования, в среднем соотношение между заголовком и основным текстом составляет примерно 2,5.

   Заголовок / основной текст = 2,5
 */

/*
  Традиционная шкала:
  6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72

  Последовательность Фибоначчи:
  16, 24, 40, 64, 104
*/

/*
  высота строки (в пикселях) / кегль основного текста (в пикселях) = 1.46

  длина строки (в пикселях) ÷ высота строки (в пикселях) = 24.9

  отступ между абзацами (в пикселях) ÷ высота строки (в пикселях) = 1.39
*/

/*
  Как объясняет Роберт Брингхерст (Robert Bringhurst), согласно классическим правилам веб-типографики, оптимальное количество символов в строке составляет от 55 до 75
*/


@import "responsive";

@import "bootstrap/functions";

$rem-base: 15px;

$base-font-size: $rem-base !default;
$base-line-height: 1.47 !default;

$base-link-color: #0B43C9;
$base-linkhover-color: #8FABFF;

$gold-var: 138.2;
$gold-var2: 129.2;
$gold-var3: 125.7;
$gold-var4: 123.6;

$h1-font-size: rem-calc(45) !default;
$h2-font-size: rem-calc(36) !default;
$h3-font-size: rem-calc(30) !default;
$h4-font-size: rem-calc(24) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$global-font-color: #212121;

$black-240: #F0F0F0;
$black-200: #C8C8C8;
$black-175: #AFAFAF;
$black-125: #7D7D7D;
$black-100: #646464;

html, body {
  font-size: $base-font-size;
  font-family: 'Arial', Helvetica, Verdana;
}

body {
  margin: 0px;
  line-height: $base-line-height;
  color: $global-font-color;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $base-link-color;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

a:hover {
  color: $base-linkhover-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}

p {
  font-size: inherit;
  margin-bottom: 1rem;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

small {
  font-size: 90%;
  color: #cacaca;
}

.font-90 {
  font-size: 90%;
}

.base-lh {
  line-height: $base-line-height;
}

#footer {
  border-top: 1px solid #cccccc;
  padding: 1.6rem 0;
}

.red {
  color: #E52A00;
}

.light-color-text {
  color: $black-175;
}

.right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.margin-bt-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}



// Header

.header__row {
  padding: 1.4rem 0 1rem 0;
}

.header__site-desc {
  color: $black-100;
  padding-top: 0.6rem;
  line-height: 1.2;
  font-size: rem-calc(14);
}

.header__p-phone {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.header__link-chat {
  font-weight: 700;
}


// Main-menu

.main-menu {
  background-color: inherit;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid $black-200;
  min-height: auto;
  margin-bottom: 0px;
}

.main-menu__fluid {
}

.main-menu__collapse {
  padding: 0px;
}

.main-menu__items-list {
  margin: 0rem 15px 10px 15px;
}

.main-menu__item {
  padding: 0px 40px 0px 0px;
}

li.main-menu__item > a.main-menu__link {
  padding: 0px;
  font-size: 18px;
  color: $base-link-color;
}

li.main-menu__item > a.main-menu__link:hover {
  color: $base-linkhover-color;
}

// Main mobile menu

.menu-mobile {
  padding: 0 10px 0 10px;
  margin: 10px 0 0 0;
}

.menu-mobile > li {
  border-bottom: 1px solid #EAEAEA;
  list-style: none;
  padding: 4px 8px;
}



// Content title

.content-title {
  margin-bottom: 4rem;
}

.content-title__top-text {
  margin-top: 2.4rem;
}

.content-title__text{
  margin-bottom: 1.8rem;
}

.content-title__second-h {
  margin-bottom: 1.8rem;
}

.title-list {
  font-size: 18px;
  list-style: none;
  text-align: left;
}

.title-list__elem {
  margin-bottom: 1rem;
}

li.title-list__elem:before {
  content: "—";
  margin-left: -1.4em;
  margin-right: 0.4em;
  color: #E52A00;
}



// Top forms

.top-forms {
  background-color: #4C88F4;
  padding: 2.5rem 1.8rem 2rem 1.8rem;
}

.top-forms__submit-button {
  margin-top: 1.8rem;
  margin-bottom: 0;
}

%form-control-base {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #D2CFFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control-main {
  @extend %form-control-base;
  background-color: #8FABFF;
  color: #ffffff;
  border: 0;
  -webkit-input-placeholder {
    color: #ffffff; }
  -moz-placeholder: #ffffff;
  -ms-input-placeholder: #ffffff;
}

.form-control-main::-webkit-input-placeholder {
    color: #E2E2E2;
}

.form-control-main::-webkit-input-placeholder {
    color: #E2E2E2;
}

.form-control-main::-webkit-input-placeholder {
    color: #E2E2E2;
}


// Advantages

.advantages {
  margin-bottom: 3rem;
}

.advantages__box {
  // border: 1px solid #eeeeee;
}

.advantages__elem {
  padding: 2rem 1rem;
  border-top: 1px solid #ccc;
}

.advantages__image-col,
.advantages__title-col {
  text-align: center;
}

.advantages__image-col {
  height: auto;
}

.advantages__image-col img {
  margin: auto;
}

.advantages__title-col {
  height: 5em;
}

.advantages__title-h,
.advantages__fulltext {
  // width: 50%;
  // display: table-cell;
  // height: 100px;
  // vertical-align: middle;
}

.advantages__title-h {
  text-align: center;
}



// Tabs

.tabs-container {
  margin-bottom: 3rem;
}

.tabs-container__links-box {
  padding: 8px 0px 8px 15px;
  background-color: #FBD493;
}

.tabs-container__link-list {
  font-size: 1.1rem;
  border: none;
}

.tabs-container__link-list > li.tabs-container__item {
  float: none;
  // background-color: #ffffff;
}

.tabs-container__link-list > li.active {
  color: #555555;
  background-color: #ffffff;
  border: none;
  cursor: default;
}

.tabs-container__link-list > li.active > a,
.tabs-container__link-list > li.active > a:hover,
.tabs-container__link-list > li.active > a:focus {
  border: none;
}

.tabs-container__link-list > li.active > a.tabs-container__item-link {
  background-color: #FFFFFF;
}

.tabs-container__item > a.tabs-container__item-link {
  margin: 0.2em 0;
  padding: 0.4em 0.6em;
  border-radius: 0;
  border: none;
  color: $global-font-color;
}

.tabs-container__item > a.tabs-container__item-link:hover {
  background-color: #FCE4BA;
  border-radius: 0px;
  border: none;
  color: $global-font-color;
}

.tab-content {
  padding-top: 1rem;
  padding-left: 1.4rem;
}


// Basic section

.content__basic-sections {
  background-color: $black-240;
}

.content__basic-group, {
  @extend .margin-bt-15;
}

.content__popular-carbrand {
  @extend .margin-bt-15;
}

.one-section {
  margin-bottom: 12px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.section-p {
  line-height: 1.2;
  font-size: rem-calc(14);
  color: $black-100;
}

%btn-base {
  outline: none;
  display: inline-block;
  height: 2em;
  padding: 0em 1em;
  font-size: 1rem;
  color: $global-font-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 0.02rem;
  vertical-align: middle;
  border: 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 1px 0.9px 2.6px #9e9e9e;
     -moz-box-shadow: 1px 0.9px 2.6px #9e9e9e;
          box-shadow: 1px 0.9px 2.6px #9e9e9e;
}

%btn-section {
  @extend %btn-base;
  font-size: rem-calc(10);
  color: #000;
}

.btn-section {
  @extend %btn-section;
  border: solid 1px #A9A9A9;
}

.btn-section:hover {
  @extend %btn-section;
  // font-size: rem-calc(11);
  border: solid 1px #606060;
}

.btn-main-action {
  @extend %btn-base;
  font-weight: normal;
  font-size: rem-calc(14);
  background: #2979FF;
  color: #ffffff;
}

.btn-main-action:hover {
  @extend %btn-base;
  font-weight: normal;
  font-size: rem-calc(14);
  background: #639CFA;
  color: #ffffff;
}

.btn-main-action-lg {
  @extend %btn-base;
  font-size: rem-calc(16);
  background: #ffffff;
  border: 0;
  font-weight: normal;
  -webkit-box-shadow: 1px 1px 5px #363636;
     -moz-box-shadow: 1px 1px 5px #363636;
          box-shadow: 1px 1px 5px #363636;
}

.btn-main-action-lg:active {
  @extend %btn-base;
  font-size: rem-calc(16);
  background: #ffffff;
  border: 0;
  font-weight: normal;
  -webkit-box-shadow: inset 1px 1px 5px #363636;
     -moz-box-shadow: inset 1px 1px 5px #363636;
          box-shadow: inset 1px 1px 5px #363636;
}

ul.list-carbrand {
  margin: 0 0 15px 0;
  padding: 0;
}

.list-carbrand > li {
  list-style: none;
  font-size: 1.1rem;
  @media  (min-width: 768px) {
   width: 45%;
  }
  margin: 0px 0 2px 0px;
  display: inline-block;
}

.carbrand-footer-box {
  font-size: rem-calc(12);
  margin-top: 20px;
}

.questions__bottom-box {
  padding: 2.4rem 0;
}

.questions__list {
  margin: 0 0 2rem 0;
  padding: 0;
}

.questions__list-item {
  list-style: none;
  font-size: rem-calc(18);
  margin-bottom: 0.5em;
}